/*
@Autor: Ana Júlia
 */

body{
    text-align: center;
    margin-left: 40px;
}

header{
    text-align: center;
    font-family: "Arial"
    color: rgb(85, 36, 128);
    font-size: 85px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2{
    font-size: 45px ;
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
    font-family: "Roboto";
    font-size: 21px;
    color: #000000;
    text-align: center;
    margin-right: 80px;
    margin-left: 80px;
}

img{
    width: 220px;
}